<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftHack-Animations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F2A96E21E25502B0059B596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F2A96F61E25502C0059B596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F2A97011E25502C0059B596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
